input {
  border: none;
  background-color: #f4f4f4;
}

.btn-search {
  color: orange !important;
}

// textarea:hover,
// input:hover,
// textarea:active,
// input:active,
// textarea:focus,
// input:focus,
// button:focus,
// button:active,
// button:hover,
// label:focus,
// .btn:active,
// .btn.active {
//   outline: 0px !important;
//   -webkit-appearance: none;
//   box-shadow: none !important;
//   background-color: #f4f4f4;
// }

.input-search {
  textarea:hover,
  input:hover,
  textarea:active,
  input:active,
  textarea:focus,
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active,
  input:disabled,
  input[readonly] {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
  }
}
